@{
    ViewBag.Title = "Home Page";
}
<div class="person-info">
    <img src="https://randomuser.me/api/portraits/lego/0.jpg"/>
    <h3>Teacher</h3>
    <ul class="person-properties">
        <li>First Name: Teacher First</li>
        <li>Last Name: Teacher Last</li>
        <li>Last Name: Teacher Last</li>
        <li>Email: Teacher email</li>
    </ul>
    <button>View Classes</button>
</div>
<div id="theForm">
    <form>
        <label>Username:</label>
        <input/>
        <br/>
        <label>Password:</label>
        <input type="password"/>
        <br/>
        <input type="submit" value="Login"/>
    </form>
</div>