@model UserLoginModel
@{
    ViewBag.Tite = "Login";
}

<form method="POST">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Username">Username</label>
        <input asp-for="Username"/>
        <span asp-validation-for="Username" class="warning"></span>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password"/>
        <span asp-validation-for="Password" class="warning"></span>
    </div>
    <div>
        <label asp-for="RememberMe">Remember Me?</label>
        <input asp-for="RememberMe" type="checkbox"/>
        <span asp-validation-for="RememberMe" class="warning"></span>
    </div>
    <div>
        <input type="submit" value="Login"/>
    </div>
</form>